<div class="container mt-5 mb-5">
  <div class="mb-3">
    <div class="card">
      <div class="card-header text-center">
        <h3>Search</h3>
      </div>
      <div class="card-body">
        <form class="text-center border border-light">
          <!-- Email -->
          <div class="p-3">
            <div class="row col-12">
              <div class="col-4">
                <input type="text" id="lantitude" [(ngModel)]="request.lat" class="form-control mb-4 col-3" placeholder="Lantitude" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-4">
                <input type="text" id="longitude" [(ngModel)]="request.lng" class="form-control mb-4" placeholder="Longitude" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-4">
                <input type="text" id="radius" [(ngModel)]="request.radius" class="form-control mb-4" placeholder="Radius" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="row col-12 p-lg-3">
              <button class="btn btn-primary" type="button" (click)="getPlaces(request)">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row m-10" [hidden]="searchPlaceData.length === 0">
    <div class="col-6">
      <div class="card m-10">
        <div class="card-header text-center">
            <h3>Places List</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
              <th scope="col">Open/Close</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let searchPlace of searchPlaceData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i = index">
              <th scope="row">{{ (pageSize*(page-1))+i+1}}</th>
              <td>{{ searchPlace.name }}</td>
              <td>{{ searchPlace.lat }}</td>
              <td>{{ searchPlace.lng }}</td>
              <td class="text-center">
                <i class="bi bi-circle-fill" [ngClass]="searchPlace.nowOpen == null ? 'grey-status' : searchPlace.nowOpen ? 'green-status' : 'red-status'"></i>
              </td>
            </tr>
            </tbody>
          </table>

          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
        </div>
      </div>
    </div>
    <div class="col-6">
      <agm-map
        [latitude]= convertStringToNumber(request.lat)
        [longitude]= convertStringToNumber(request.lng)
        [zoom] = 15>
        <agm-marker
          *ngFor="let searchPlace of searchPlaceData"
          [latitude]="searchPlace.lat"
          [longitude]="searchPlace.lng">
          <agm-info-window #infoWindow>
            {{ searchPlace.name }}
          </agm-info-window>
        </agm-marker>

      </agm-map>
    </div>
  </div>
</div>
