/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.grey-status{
  color: grey;
}

.green-status{
  color: green;
}

.red-status{
  color: red;
}

